<?php

$finder = PhpCsFixer\Finder::create()->in(__DIR__);

$rules = [
    '@Symfony' => true,
    'new_with_braces' => true,
    'phpdoc_inline_tag' => false,
    'concat_space' => ['spacing' => 'one'],
    'array_syntax' => ['syntax' => 'short'],
    'yoda_style' => false,
    'phpdoc_no_empty_return' => false,
    'no_superfluous_phpdoc_tags' => false,
    'single_line_throw' => false,
];

return PhpCsFixer\Config::create()->setRules($rules)->setFinder($finder);
